header {
    text-align: center; 
    border: #D8F6FF;
    font-family: 'system-ui';
    border-radius: 90px;
    margin: 50px 350px 50px 350px;
    padding: 0px;
    background-color: #D8F6FF;
    color: #3397B6;

  }
  
  footer{
    text-align: center;
    font-family: 'system-ui';
  }

  h3{
      color: #147E9F;
  }